
.passwordResetForm{
    padding:0 10%;
    color:aqua;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    animation: form-fade-in 1.5s ease-in-out; 
}
@keyframes form-fade-in {
    from {
      opacity:0;
    }
    to {
     opacity:1;
    }
}
.passwordResetUpdationDiv{
    border:1px solid white;
    border-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:auto 5%;
    padding: 3%;
    color:aqua;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 2vmax;
    text-align: center;
}
.passwordResetUpdationInfo{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.passwordResetHeading{
    margin: 25px 0;
   font-size:4vmax;
   text-align: center;
   text-transform:uppercase;
}

.passwordResetSubmit{
    border:none;
    width:100%;
    margin:5% 0;
    padding:2.5%;
    border-radius: 10px;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 1.8vmax;
    cursor: pointer;
}
.passwordResetSubmit:hover{
     background: aqua;
}

.passwordResetError{
    background: rgb(255, 0, 0);
    color:white;
    padding:2%;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    display: block;
}
.passwordResetAnchorsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;
}
.passwordResetAnchorText{
    font-size: 1.2vmax;
    transform: scale(1.2);
}
.passwordResetAnchors{
    border:none;
    padding:1%;
    background: transparent;
    border-radius: 10px;
    color:gold;
    font-size: 1.2vmax;
    text-decoration: underline;
    transform: scale(1.2);
    font-style: inherit;
    font-family: inherit;
}
.passwordResetAnchors:hover{
    background: gold;
    color:black;
}


@media only screen and (max-width: 800px){

   
   .passwordResetHeading{
       font-size: 10vmin;
   }
   .passwordResetSubmit{
       font-size: 4vmin;
   }
   .passwordResetAnchorsDiv{
       flex-direction: column;
   }
   .passwordResetAnchors{
       font-size: 3vmin;
   }
   .passwordResetAnchorText{
    font-size: 4vmin;
}
}