
.forgotPasswordForm{
    padding:0 10%;
    color:aqua;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    animation: form-fade-in 1.5s ease-in-out; 
}
@keyframes form-fade-in {
    from {
      opacity:0;
    }
    to {
     opacity:1;
    }
}
.forgotPasswordSentDiv{
    border:1px solid white;
    border-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:auto 5%;
    padding: 3%;
    color:aqua;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 2vmax;
    text-align: center;
}
.forgotPasswordSentInfo{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.forgotPasswordHeading{
    margin: 25px 0;
   font-size:4vmax;
   text-align: center;
   text-transform:uppercase;
}

.forgotPasswordSubmit{
    border:none;
    width:100%;
    margin:5% 0;
    padding:2.5%;
    border-radius: 10px;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 1.8vmax;
    cursor: pointer;
}
.forgotPasswordSubmit:hover{
     background: aqua;
}

.forgotPasswordError{
    background: rgb(255, 0, 0);
    color:white;
    padding:2%;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    display: block;
}
.forgotPasswordAnchorsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;
}
.forgotPasswordAnchors{
    border:none;
    padding:1%;
    background: transparent;
    border-radius: 10px;
    color:gold;
    font-size: 1.2vmax;
    text-decoration: underline;
    transform: scale(1.2);
    font-style: inherit;
    font-family: inherit;
}
.forgotPasswordAnchors:hover{
    background: gold;
    color:black;
}


@media only screen and (max-width: 800px){

   
   .forgotPasswordHeading{
       font-size: 10vmin;
   }
   .forgotPasswordSubmit{
       font-size: 4vmin;
   }
   .forgotPasswordAnchorsDiv{
       flex-direction: column;
   }
   .forgotPasswordAnchors{
       font-size: 3vmin;
   }
}